 <template>
  <div>
    <div>
      <ul v-for="inf in info" :key="inf.Id">
        <li>{{inf.value}}</li>
      </ul>
    </div>
    <!--Stats cards-->
    <div class="row">
      <div class="col-md-6 col-xl-3" v-for="stats in statsCards" :key="stats.title">
        <stats-card>
          <div class="icon-big text-center" :class="`icon-${stats.type}`" slot="header">
            <i :class="stats.icon"></i>
          </div>
          <div class="numbers" slot="content">
            <p>{{stats.title}}</p>
            {{stats.value}}
          </div>
          <div class="stats" slot="footer">
            <i :class="stats.footerIcon"></i> {{stats.footerText}}
          </div>
        </stats-card>
      </div>
    </div>
  </div>
</template>

<script>
import { StatsCard } from "@/components/index";
import Chartist from 'chartist';
import Axios from 'axios';

export default {

 components: {
    StatsCard,
    //ChartCard
  },

  methods:{
    chargePrueba(){
      Axios.get('/mod')
      .then((res)=>{
         this.info = res.data;
        //console.log(this.info);
      }).catch((err)=>{
        console.log(err);
      });
    }
  },

  data() {
    return {
      info:[],
      statsCards: [
        {
          type: "warning",
          icon: "ti-desktop",
          title: "Variable #1",
          value: (typeof this.info != 'undefined') ? this.info[0] : 0,
          footerText: "Variable #1",
          footerIcon: "ti-reload"
        },
        {
          type: "success",
          icon: "ti-pulse",
          title: "Variable #2",
          value: (typeof this.info != 'undefined') ? this.info[1] : 0,
          footerText: "Variable #2",
          footerIcon: "ti-calendar"
        },
        {
          type: "danger",
          icon: "ti-pulse",
          title: "Variable #3",
          value: (typeof info === 'undefined') ? 0 : info[2].value,
          footerText: "Variable #3",
          footerIcon: "ti-timer"
        },
        {
          type: "info",
          icon: "ti-pulse",
          title: "Variable #4",
          value: (typeof info === 'undefined') ? 0 : info[3].value,
          footerText: "Variable #4",
          footerIcon: "ti-reload"
        },
        {
          type: "info",
          icon: "ti-pulse",
          title: "Variable #5",
          value: (typeof info === 'undefined') ? 0 : info[4].value,
          footerText: "Variable #5",
          footerIcon: "ti-reload"
        }
      ]
    };
  },

  beforeCreate(){
    let sti = setInterval(() => {
      Axios.get('/mod')
      .then((res)=>{
         this.info = res.data;
        //console.log(this.info);
        //console.log(this.info);
      }).catch((err)=>{
        console.log(err);
      });
    },500);
  }

};
</script>
<style>
</style>





// ,
//       usersChart: {
//         data: {
//           labels: [
//             "9:00AM",
//             "12:00AM",
//             "3:00PM",
//             "6:00PM",
//             "9:00PM",
//             "12:00PM",
//             "3:00AM",
//             "6:00AM"
//           ],
//           series: [
//             [287, 385, 490, 562, 594, 626, 698, 895, 952],
//             [67, 152, 193, 240, 387, 435, 535, 642, 744],
//             [23, 113, 67, 108, 190, 239, 307, 410, 410]
//           ]
//         },
//         options: {
//           low: 0,
//           high: 1000,
//           showArea: true,
//           height: "245px",
//           axisX: {
//             showGrid: false
//           },
//           lineSmooth: Chartist.Interpolation.simple({
//             divisor: 3
//           }),
//           showLine: true,
//           showPoint: false
//         }
//       },
//       activityChart: {
//         data: {
//           labels: [
//             "Jan",
//             "Feb",
//             "Mar",
//             "Apr",
//             "Mai",
//             "Jun",
//             "Jul",
//             "Aug",
//             "Sep",
//             "Oct",
//             "Nov",
//             "Dec"
//           ],
//           series: [
//             [542, 543, 520, 680, 653, 753, 326, 434, 568, 610, 756, 895],
//             [230, 293, 380, 480, 503, 553, 600, 664, 698, 710, 736, 795]
//           ]
//         },
//         options: {
//           seriesBarDistance: 10,
//           axisX: {
//             showGrid: false
//           },
//           height: "245px"
//         }
//       },
//       preferencesChart: {
//         data: {
//           labels: ["62%", "32%", "6%"],
//           series: [62, 32, 6]
//         },
//         options: {}
//       }
