<template>
    <div class="row">
      <!-- <div class="col-12">
        <card :title="table1.title" :subTitle="table1.subTitle">
          <div slot="raw-content" class="table-responsive">
            <paper-table :data="table1.data" :columns="table1.columns">

            </paper-table>
          </div>
        </card>
      </div> -->

      <div class="col-12">
        <card class="card-plain">
          <div class="table-full-width table-responsive">
            <paper-table type="hover" :title="table2.title" :sub-title="table2.subTitle" :data="table2.data"
                         :columns="table2.columns">

            </paper-table>
          </div>
        </card>
      </div>

    </div>
</template>
<script>
import { PaperTable } from "@/components";
import Axios from 'axios';
const tableColumns = ["Address", "Value"];
const tableData = [{id:'', address:'', value:''}];

export default {
  components: {
    PaperTable
  },
  mounted() {
    this.chargePrueba();
  },
  methods: {
    chargePrueba(){
      Axios.get('/mod')
      .then((res)=>{
         this.tableData = res.data;
        console.log(this.tableData);
      }).catch((err)=>{
        console.log(err);
      });
    }
  },
  data() {
    return {
      // table1: {
      //   title: "Stripped Table",
      //   subTitle: "Here is a subtitle for this table",
      //   columns: [...tableColumns],
      //   data: [...tableData]
      // },
      table2: {
        title: "Table on Plain Background",
        subTitle: "Here is a subtitle for this table",
        columns: [...tableColumns],
        data: [...tableData]
      }
    };
  }
};
</script>
<style>
</style>
